[buddycloud]
# Your buddycloud credentials.
jid = test@example.com
password = super_secret_passw0rd

# Connection tweaks
#host = example.com
#port = 5222
#use_ipv6 = True
#use_tls = True

[log]
# Destination. Leave empty to disable logging.
filename = ~/.bccc.log

# Log level. Possible values: debug, info, warning, error, critical.
level = warning

[ui]
# Name of the color theme to use. The theme file must be named <name>.theme and
# be located either in the bccc installation dir (mostly for default themes) or
# in $XDG_CONFIG_HOME/bccc (usually ~/.config/bccc).
# Two default themes are available: "dark" and "light".
theme = dark

# Notify about updates by sending a console beep. Depending on your
# configuration, this may produce a sound and/or make your terminal emulator set
# the X11 "urgency" hint on its window.
console_beep = on

[url]
# Program used to open URLs. On Linux (and other FreeDesktop-compliant systems),
# "xdg-open" is usually a good choice. You can also set this to your web browser
# (firefox, chromium, uzbl, etc.) if you want to.
opener = xdg-open
